.bg_black  { background-color:#000; }
.bg_blue   { background-color:#00f; }
.bg_gray   { background-color:#888; }
.bg_green  { background-color:#0f0; }
.bg_red    { background-color:#f00; }
.bg_yellow { background-color:#ff0; }
.bg_white  { background-color:#fff; }

.fnt12 { font-size: 12px; }
.fnt14 { font-size: 14px; }
.fnt16 { font-size: 16px; }
.fnt20 { font-size: 20px; }
.fnt24 { font-size: 24px; }
.fnt28 { font-size: 28px; }
.fnt32 { font-size: 32px; }
.fnt36 { font-size: 36px; }
.fnt40 { font-size: 40px; }
.fnt44 { font-size: 44px; }
.fnt50 { font-size: 50px; }

.fnt12pt { font-size: 12pt; }
.fnt14pt { font-size: 14pt; }
.fnt16pt { font-size: 16pt; }
.fnt20pt { font-size: 20pt; }
.fnt24pt { font-size: 24pt; }
.fnt28pt { font-size: 28pt; }
.fnt32pt { font-size: 32pt; }
.fnt36pt { font-size: 36pt; }
.fnt40pt { font-size: 40pt; }
.fnt44pt { font-size: 44pt; }
.fnt50pt { font-size: 50pt; }

.fnt_black  { color:#000; }
.fnt_blue   { color:#00f; }
.fnt_green  { color:#0f0; }
.fnt_green2 { color:#080; }
.fnt_gray   { color:#888; }
.fnt_red    { color:#f00; }
.fnt_yellow { color:#ff0; }
.fnt_white  { color:#fff; }

.gen_input_calen,.gen_input_txt
{
    border: 1px solid #666;
    border-radius: 2px;
    padding: 5px 10px;
    vertical-align: middle;
}

.gen_btn_silver
{
    background: #ccc;
    border-color: #666;
    border-width: 1px 1px 5px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 20px;
    vertical-align: middle;
}

.gen_btn_silver:hover
{
    background: #ddc;
    border-width: 1px 1px 1px;
    padding: 14px 20px 10px;
}

.img_btn
{
    background-color: rgba(200,200,255,0.5);
    border-radius: 5px;
}

.img_btn:hover
{
    background-color: rgba(240,240,255,1);
}

.order_info
{
    background: #888;
    color: #fff;
    padding: 30px;
}

.panel_icon img
{
    cursor: pointer;
    margin-top: 30px;
}

.plus_item
{
    background: rgba(160, 160, 160, 0.6);
    bottom: 10px;
    color:#fff;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.plus_item img
{
    vertical-align: middle;
}

#QTY
{
    border:1px solid #aaa;
    border-radius: 5px;
    font-weight: bold;
    height:80px;
    vertical-align:middle;
    width:80px;
}

.row_item
{
    margin: 20px 0;
    min-height: 150px;
    padding: 20px 10px;
    vertical-align: top;
}

.row_item .i_object
{
    display: inline-block;
    height: 30px;
    padding: 3px 5px;
    vertical-align: baseline;
}

.the_page_label
{
    color: #FFF;
    font-family: 'Exo 2', sans-serif;
    font-size: 48pt;
    font-weight: bold;
    padding: 5pt 5pt 10pt;
    text-align: center;
}

.the_input_text
{
    background-color: #fff;
    border: none;
    border-radius: 2px;
    color: #00C;
    font-family: Impact;
    padding: 10px;
    text-align: center;
    width: 60px; height: 60px;
}

.the_table
{
    border: 0px;
    width: 100%;
}

.the_table td
{
    width: 33%;
}

.the_table button
{
    background-color: #F80;
    border-width: 1px 1px 10px 1px;
    border-color: #444;
    border-style: solid;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.the_table_prd
{
    background: #fff;
    border: 0px;
    width: 100%;
}

.w15  { width:  15%; }
.w20  { width:  20%; }
.w30  { width:  30%; }
.w40  { width:  40%; }
.w50  { width:  50%; }
.w60  { width:  60%; }
.w80  { width:  80%; }
.w100 { width: 100%; }

.w40px  { width:  40px; }
.w50px  { width:  50px; }
.w60px  { width:  60px; }
.w80px  { width:  80px; }
.w100px { width: 100px; }
.w120px { width: 120px; }
.w150px { width: 150px; }
.w180px { width: 180px; }
.w210px { width: 210px; }
.w250px { width: 250px; }
.w300px { width: 300px; }
.w350px { width: 350px; }
.w400px { width: 400px; }