/*Footer-me
------------------------------------*/
.footer-me .footer {
	padding: 10px 0;	
	background: #303030;
}

.footer-me .footer p {
	color: #eee;
}

.footer-me .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-me .link-list li {
	border-top: solid 1px #353535;
}

.footer-me address,
.footer-me .link-list a,
.footer-me .link-list i {
	color: #eee;
}

.footer-me address {
	line-height: 10px;
}

/*Dotted Map*/
.footer-me .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Copyright*/
.footer-me .copyright {
	background: #222;
	border-top: none;
	padding: 7px 0 5px;
}

.footer-me .copyright p {
	color: #eee;
	margin-top: 10px;
}

.footer-me .copyright a {
	margin: 0 2px;
}

.footer-me .footer-socials {
	margin-top: 10px;
	text-align: right;
}

.footer-me .footer-socials li a {
	color: #777;
	font-size: 16px;
}

@media (max-width: 991px) {
	.footer-me .copyright,
	.footer-me .footer-socials {
		text-align: left;
	}
}